In [1]:
import numpy as np
import sklearn
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sbrn
import math
from sklearn.preprocessing import Binarizer
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [2]:
# lire dataset
df=pd.read_csv("Iris.csv")
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [3]:
# supprimer l'identificateur
df.drop('Id',axis=1,inplace=True)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
# afficher les colonnes
df.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [5]:
# séparer notre data vers features / target
X=df.iloc[:,:4]
y=df.iloc[:,4]
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [6]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.33,random_state=17)

In [7]:
# Bernoulli naive bayes
BernNB=BernoulliNB(binarize=True)
BernNB.fit(X_train,y_train)
print(BernNB)
y_expected=y_test
y_pred=BernNB.predict(X_test)
print (accuracy_score(y_expected,y_pred))

BernoulliNB(binarize=True)
0.56

In [8]:
# Multinomial naive bayes
MultiNB=MultinomialNB()
MultiNB.fit(X_train,y_train)
print(MultiNB)
y_pred=MultiNB.predict(X_test)
print(accuracy_score(y_expected,y_pred))

MultinomialNB()
0.56

In [9]:
# Gaussian naive bayes
GaussNB=GaussianNB()
GaussNB.fit(X_train,y_train)
print(GaussNB)
y_pred=GaussNB.predict(X_test)
print(accuracy_score(y_expected,y_pred))

GaussianNB()
0.96

In [10]:
X = [[ 1., -1.,  2.],
      [ 2.,  0.,  0.],
      [ 0.,  1., -1.]]
transformer = Binarizer().fit(X)  # fit does nothing.
transformer
transformer.transform(X)

array([[1., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [11]:
# binarize=True vs binarize=0.1

# Les valeurs supérieures au seuil mappent à 1, tandis que les valeurs inférieures ou égales au seuil mappent à 0. 
# Avec le seuil par défaut de 0, seules les valeurs positives mappent à 1.

BernNB=BernoulliNB(binarize=0.1)
BernNB.fit(X_train,y_train)
print(BernNB)
y_expected=y_test
#print(y_expected)
y_pred=BernNB.predict(X_test)
#print(y_pred)
print (accuracy_score(y_expected,y_pred))

BernoulliNB(binarize=0.1)
0.36

#  Exercice 2

In [12]:
#le = preprocessing.LabelEncoder()

X=[[0,1,1,0,0,0],[1,1,0,0,1,0],[1,0,1,1,0,0],[1,0,1,0,1,0],[1,0,0,1,0,0],
    [0,1,0,1,0,1],[1,1,1,1,1,1],[1,1,0,1,0,1],[1,1,1,0,1,1],[1,0,1,0,1,1]]
X = pd.DataFrame(X, columns=["x1","x2","x3","x4","x5","classe"])
new_data = pd.DataFrame([[0,0,1,1,1]],columns=["x1","x2","x3","x4","x5"])
new_data

   x1  x2  x3  x4  x5
0   0   0   1   1   1

In [13]:
classes = X.classe.unique() 
classes

array([0, 1], dtype=int64)

In [14]:
X_indexed = X.set_index("classe")
X_indexed

        x1  x2  x3  x4  x5
classe
0        0   1   1   0   0
0        1   1   0   0   1
0        1   0   1   1   0
0        1   0   1   0   1
0        1   0   0   1   0
1        0   1   0   1   0
1        1   1   1   1   1
1        1   1   0   1   0
1        1   1   1   0   1
1        1   0   1   0   1

In [15]:
X_indexed.loc[0]

        x1  x2  x3  x4  x5
classe
0        0   1   1   0   0
0        1   1   0   0   1
0        1   0   1   1   0
0        1   0   1   0   1
0        1   0   0   1   0

In [16]:
def occurence_column_class(X,new_data):
    r = {}
    for classe in classes:
        d = X_indexed.loc[classe]
        m = []
        for column in d:
            value_in_new_data = new_data[column]
            m.append(d[column].value_counts()[value_in_new_data].item())
            r[classe] = m
    return r

occurence_column_class = occurence_column_class(X_indexed, new_data)
occurence_column_class

{0: [1, 3, 3, 2, 2], 1: [1, 1, 3, 3, 3]}

In [17]:
nb_classes = X["classe"].value_counts()
nb_classes

1    5
0    5
Name: classe, dtype: int64

In [18]:
def calcul_proba_classes(X,classes):
    n,m = X.shape
    r = {}
    for classe in classes:
        r[classe] = X["classe"].value_counts()[classe].item()/n
    return r

classes_probabilite = calcul_proba_classes(X, classes)
classes_probabilite

{0: 0.5, 1: 0.5}

In [19]:
def calcul_probabilite(classes_probabilite, occurence_column_class, nb_classes):
    r = {}
    for p in classes_probabilite:
        r[p] = np.prod(occurence_column_class[p]/nb_classes[p])*classes_probabilite[p]
    return r

calcul_probabilite=calcul_probabilite(classes_probabilite, occurence_column_class, nb_classes)
calcul_probabilite

# {0: [1, 3, 3, 2, 2], 1: [1, 1, 3, 3, 3]}
# {0: [1/5, 3/5, 3/5, 2/5, 2/5], 1: [1/5, 1/5, 3/5, 3/5, 3/5]  
# {0: 1/5 * 3/5 * 3/5 * 2/5 * 2/5 * 0.5, 1: 1/5 * 1/5 * 3/5 * 3/5 * 3/5 * 0.5}

{0: 0.00576, 1: 0.00432}

# Exercice 3 : classification du texte

|                                                       | TV | programme | intéressant | enfants | radio | onde | écouter | rare | Classe     |
|-------------------------------------------------------|:--:|:---------:|:-----------:|:-------:|:-----:|:----:|:-------:|:----:|:----------:|
| Le programme TV n’est pas intéressant                 |  1 |     1     |      1      |    0    |   0   |   0  |    0    |   0  | télévision |
| La TV m’ennuie                                        |  1 |     0     |      0      |    0    |   0   |   0  |    0    |   0  | télévision |
| Les enfants aiment la TV                              |  1 |     0     |      0      |    1    |   0   |   0  |    0    |   0  | télévision |
| On reçoit la TV par onde radio                        |  1 |     0     |      0      |    0    |   1   |   1  |    0    |   0  | télévision |
|                                                       |    |           |             |         |       |      |         |      |            |
| Il est intéressant d’écouter la radio.                |  0 |     0     |      1      |    0    |   1   |   0  |    1    |   0  | radio      |
| Sur les ondes, les programmes pour enfants sont rares |  0 |     0     |      0      |    1    |   0   |   0  |    0    |   0  | radio      |
| Les enfants vont écouter la radio; c’est rare         |  0 |     0     |      0      |    1    |   1   |   0  |    1    |   1  | radio      |
|                                                       |    |           |             |         |       |      |         |      |            |

# 
|P(TV/TV)            |  (4+1)/(4+8)  |     0.42     |
|----------------------|:-------------:|:------------:|
|P(programme/TV)      |  (3+1)/(4+8)  |     0.33     |
|P(intéressant/TV)   |  (3+1)/(4+8)  |     0.33     |
|P(enfants/TV)       |  (3+1)/(4+8)  |     0.33     |
|P(radio/TV)         |  (1+1)/(4+8)  |     0.17     |
|P(onde/TV)          |  (4+1)/(4+8)  |     0.33     |
|P(écouter/TV)       |  (4+1)/(4+8)  |     0.42     |
|P(rare/TV)          |  (4+1)/(4+8)  |     0.42     |

1.5 x 10^(-4)

# 
|P(TV/radio)            |  (0+1)/(3+8)  |     0.09     |
|-----------------------|:-------------:|:------------:|
|P(programme/radio)      |  (3+1)/(3+8)  |     0.36     |
|P(intéressant/radio)   |  (2+1)/(3+8)  |     0.27     |
|P(enfants/radio)       |  (1+1)/(3+8)  |     0.18     |
|P(radio/radio)         |  (2+1)/(3+8)  |     0.27     |
|P(onde/radio)          |  (3+1)/(3+8)  |     0.36     |
|P(écouter/radio)       |  (1+1)/(3+8)  |     0.18     |
|P(rare/radio)          |  (2+1)/(3+8)  |     0.27     |

7.44 x 10^(-6)



| Probabilité            |    |         |
|-----------------------|:-------------:|:------------:|
|P(radio)      |  3/7  |     0.43     |
|P(TV)   |  4/ 7  |     0.57     |

1.5 x 10^(-4) x 0.57 > 7.44 x 10^(-6) x 0.43 ==> donc la phrase appartient à la classe TV

# Exercice 4

####  En utilisant le dataset iris.csv
#### 1. Analyser les différents algorithmes
#### 2. Quelles sont les conclusions à faire
#### 3. Comparer le résultat obtenu avec KNN (avec le meilleur k)

# Exercice 5

1.   Il s'agit de Gaussian Naive bayes
2.   Les étapes à suivre :
    *  Calculer la moyenne
    *  Calculer la variance
    *  Appliquer la formule de la loi normale

In [20]:
df = pd.read_csv("Iris.csv")
df.drop('Id',axis=1,inplace=True)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [21]:
X=df.iloc[:,:4]
y=df.iloc[:,4]
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [22]:
'''le = preprocessing.LabelEncoder()

X=df.iloc[:,:4]
X=np.array(X)
y=df.iloc[:,4]
le.fit(y)
y=le.transform(y)
y'''

'le = preprocessing.LabelEncoder()\n\nX=df.iloc[:,:4]\nX=np.array(X)\ny=df.iloc[:,4]\nle.fit(y)\ny=le.transform(y)\ny'

In [23]:
classes = df["Species"].unique()
classes

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [24]:
df_index = df.set_index(['Species'])
df_index

                SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa               5.1           3.5            1.4           0.2
Iris-setosa               4.9           3.0            1.4           0.2
Iris-setosa               4.7           3.2            1.3           0.2
Iris-setosa               4.6           3.1            1.5           0.2
Iris-setosa               5.0           3.6            1.4           0.2
...                       ...           ...            ...           ...
Iris-virginica            6.7           3.0            5.2           2.3
Iris-virginica            6.3           2.5            5.0           1.9
Iris-virginica            6.5           3.0            5.2           2.0
Iris-virginica            6.2           3.4            5.4           2.3
Iris-virginica            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [25]:
df["Species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

### Implémenter les fonctions nécessaires qui prennent en compte les formules définies en 2.

In [26]:
'''ef mean(X):
    S=0
    for i in X:
        S+=i
    return S/len(X)'''

'ef mean(X):\n    S=0\n    for i in X:\n        S+=i\n    return S/len(X)'

In [27]:
'''def sample_variance(X):
    m=mean(X)
    s=0
    for i in X:
        s+=np.power(i-m,2)
    return s/(len(X)-1)'''

'def sample_variance(X):\n    m=mean(X)\n    s=0\n    for i in X:\n        s+=np.power(i-m,2)\n    return s/(len(X)-1)'

In [28]:
'''def pdf(x,simple_v,m):
    return 1/np.sqrt(2*math.pi*simple_v)*np.exp(-1/2*np.power(x-m,2)/simple_v)'''

'def pdf(x,simple_v,m):\n    return 1/np.sqrt(2*math.pi*simple_v)*np.exp(-1/2*np.power(x-m,2)/simple_v)'

## En utilisant votre code source :
###### − Calculer la probabilité de chaque classe
###### − Calculer les moyennes et variances
###### − Calculer P( x | classe) sachant que classe={ Iris-setosa , Iris-versicolor, Iris-virginica }
###### − Calculer la probabilité (classe | x) sachant que classe={ Iris-setosa , Iris-versicolor, Iris-virginica }

In [29]:
means = {}
for c in classes:
    means[c] = np.mean(df_index.loc[c])

In [30]:
means = pd.DataFrame(means)
means

               Iris-setosa  Iris-versicolor  Iris-virginica
SepalLengthCm        5.006            5.936           6.588
SepalWidthCm         3.418            2.770           2.974
PetalLengthCm        1.464            4.260           5.552
PetalWidthCm         0.244            1.326           2.026

In [31]:
variances = {}
for clss in classes:
    variances[clss] = {}
    for clm in df_index.loc[clss]:
        v = df_index.loc[clss][clm] - means[clss][clm] 
        variances[clss][clm] = np.mean(v**2)

In [32]:
variances = pd.DataFrame(variances)
variances

               Iris-setosa  Iris-versicolor  Iris-virginica
SepalLengthCm     0.121764         0.261104        0.396256
SepalWidthCm      0.142276         0.096500        0.101924
PetalLengthCm     0.029504         0.216400        0.298496
PetalWidthCm      0.011264         0.038324        0.073924

In [33]:
def occurence_classe(X,c):
    return df["Species"].value_counts()[c]/len(X)

def calc_proba(X):
    prob = {}
    n = df.shape[0]
    for classe in classes:
        s = 1
        # number of lignes
        lignes_classe = df_index.loc[classe].shape[0]
        #print(lignes_classe)
        for feat in df_index.loc[classe]:
            s *= np.exp(-1/2*(X[feat]-means[classe][feat])**2/variances[classe][feat]**2)/math.sqrt(2*math.pi)*variances[classe][feat]*occurence_classe(X,classe)
            prob[classe] = s
    return prob

In [34]:
calc_proba({"SepalLengthCm":5.1,"SepalWidthCm":3.5,"PetalLengthCm":1.4,"PetalWidthCm":0.2})

{'Iris-setosa': 1.0346424737118763e-07,
 'Iris-versicolor': 1.1970395566613335e-241,
 'Iris-virginica': 2.463810315403424e-184}

In [35]:
data = pd.read_csv("ChurnData.csv")
data

,tenure,age,address,income,ed,employ,equip,callcard,wireless,longmon,...,pager,internet,callwait,confer,ebill,loglong,logtoll,lninc,custcat,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,4.40,...,1.0,0.0,1.0,1.0,0.0,1.482,3.033,4.913,4.0,1.0
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,9.45,...,0.0,0.0,0.0,0.0,0.0,2.246,3.240,3.497,1.0,1.0
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,6.30,...,0.0,0.0,0.0,1.0,0.0,1.841,3.240,3.401,3.0,0.0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,6.05,...,1.0,1.0,1.0,1.0,1.0,1.800,3.807,4.331,4.0,0.0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,7.10,...,0.0,0.0,1.0,1.0,0.0,1.960,3.091,4.382,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,55.0,44.0,24.0,83.0,1.0,23.0,0.0,1.0,0.0,17.35,...,0.0,0.0,0.0,1.0,0.0,2.854,3.199,4.419,3.0,0.0
196,34.0,23.0,3.0,24.0,1.0,7.0,0.0,1.0,0.0,6.00,...,0.0,0.0,1.0,1.0,0.0,1.792,3.332,3.178,3.0,0.0
197,6.0,32.0,10.0,47.0,1.0,10.0,0.0,1.0,0.0,3.85,...,0.0,0.0,1.0,1.0,0.0,1.348,3.168,3.850,3.0,0.0
198,24.0,30.0,0.0,25.0,4.0,5.0,0.0,1.0,1.0,8.70,...,1.0,1.0,1.0,1.0,1.0,2.163,3.866,3.219,4.0,1.0
199,61.0,50.0,16.0,190.0,2.0,22.0,1.0,1.0,1.0,16.85,...,0.0,1.0,0.0,0.0,1.0,2.824,3.240,5.247,2.0,0.0

In [36]:
data=np.array(data)
#[t[-1] for t in data]

In [37]:
def convert_to_float(frac_str):
    try:
        return float(frac_str)
    except ValueError:
        try:
            num, denom = frac_str.split('/')
        except ValueError:
            return None
        try:
            leading, num = num.split(' ')
        except ValueError:
            return float(num) / float(denom)        
        if float(leading) < 0:
            sign_mult = -1
        else:
            sign_mult = 1
        return float(leading) + sign_mult * (float(num) / float(denom))

In [38]:
import numpy as np
import pandas as pd
from fractions import Fraction
from collections import Counter
import functools 

def classify(file, inputData):
    data = np.array(pd.read_csv(file))
    # our target
    classes = [t[-1] for t in data]
    # how mush data for each classes
    class_counts = dict(Counter(classes))
    # get classes
    classes = list(set(classes))
    # probablity for each classes
    class_probs = dict([(c,Fraction(class_counts[c])/len(data)) for c in classes])
    # classified each column using transpose of matrix
    classified_data = [(c, np.transpose([t[:-1] for t in data if t[-1] == c])) for c in classes]
    # Count the number of times the number is repeated for each column
    classified_counts = dict([(c[0], [dict(Counter(i)) for i in c[1]]) for c in classified_data])
    #print(classified_counts)
    
    results = []

    for c in classes:
        '''for k,v in zip(inputData, classified_counts[c]):
        print(k,v,"\n")'''
        probs = [Fraction(v.get(k, 0))/class_counts[c] for k,v in zip(inputData, classified_counts[c])]
        #print(probs)
        prob = functools.reduce(lambda x,y: x*y, probs) * class_probs[c]
        results.append((c,convert_to_float(prob)))
        
    return max(results,key=lambda item:item[1])

inputData = [11,33,7,136,5,5,0,1,1,4.4,20.75,0,15.25,35.7,42,211.45,125,1,1,0,1,1,0,1.482,3.033,4.913,4]
print("predict of data is "+ str(classify("ChurnData.csv", inputData)))

predict of data is (1.0, 8.351695306784615e-30)